<h2>Thanks <%=@contact_form.first_name %>for your enquiry!</h2>


<p>
  <strong>Business name:</strong>
  <%= @contact_form.business_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_form.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact_form.phone %>
</p>

<p>
  <strong>Details:</strong>
  <%= @contact_form.details %>
</p>
